celery
compile
dependencies
django
django-allauth
django-celery-results
django-ninja
django-ninja-jwt
djangorestframework-simplejwt
fastapi
google-auth
google-auth-httplib2
google-auth-oauthlib
jwt
oauth2client
pillow
pydantic[email]
python-dotenv
redis
requests
stripe
zxcvbn